/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css 
*** -  4. Template Hover Css   
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css 
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/

/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900|Raleway:300,400,600,700,900');
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.5em;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

body {
    font-size: 14px;
    line-height: 1.5em;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/*
=========----------------------------------=========
            1.Template Default Css     
=========----------------------------------=========
*/

.section-padding {
    padding: 100px 0;
}


.body-gap {
    margin-left: 300px;
}

.submit-btn button {
    width: 100%;
    height: 45px;
    background: #F97E32;
    border: 0;
    color: #fff;
    display: block;
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

/*
=========----------------------------------=========
            2.Index Page Css     
=========----------------------------------=========
*/

.page-title h3 {
    margin-top: 35px;
    color: #F97E32;
}

.bl-user-info {
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 1;
    margin-top: 50px;
}

.users-icon-bar {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    background: #F97E32;
    line-height: 75px;
    color: #fff;
    font-size: 40px;
    border: 2px solid #ffa36a;
    border-radius: 50%;
}

.users-ifo-bar {
    background: #F97E32;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
}

.users-ifo-bar p {
    font-size: 18px;
    margin: 0;
    padding-top: 35px;
}

.users-ifo-bar h4 {
    font-size: 35px;
}

.glob,
.face {
    position: relative;
    z-index: 1;
    margin-bottom: -30px;
}

.glob:after {
    position: absolute;
    top: -5px;
    right: -7px;
    width: 30px;
    height: 30px;
    background: #fff;
    z-index: 999;
    content: "\f114";
    font-family: icofont;
    font-size: 18px;
    border-radius: 50%;
    line-height: 29px;
    color: #F97E32;
    border: 1px solid #F97E32;
}

.face:after {
    position: absolute;
    top: -5px;
    right: -7px;
    width: 30px;
    height: 30px;
    background: #fff;
    z-index: 999;
    content: "\f11c";
    font-family: icofont;
    font-size: 18px;
    border-radius: 50%;
    line-height: 29px;
    color: #2980B9;
    border: 1px solid #2980B9;
}

.social-ng {
    background: #2980B9;
    border-color: #3bb1ff;
}

/*
=========----------------------------------=========
            3.Query Page Css     
=========----------------------------------=========
*/

a.query-info {
    display: block;
    width: 100%;
    height: 250px;
    text-decoration: none;
    border: 2px solid #F97E32;
    color: #F97E32;
}

a.query-info i.icofont {
    font-size: 50px;
    display: block;
    margin-top: 61px;
}

a.query-info h4 {
    font-size: 35px;
    font-weight: 500;
}

a.query-info {
    position: relative;
    z-index: 1;
    transition: .3s;
    margin: 15px 0;
}

a.query-info:after {
    width: 100%;
    height: 0%;
    left: 0;
    top: 0;
    position: absolute;
    background: #F97E32;
    transition: .3s;
    content: "";
    z-index: -1;
}

a.query-info:hover:after {
    width: 100%;
    height: 100%;
}

a.query-info:hover {
    color: #fff;
}

/*
=========----------------------------------=========
            4.New Query Page Css     
=========----------------------------------=========
*/

#mceu_93,
#mceu_94,
#mceu_95,
#mceu_96,
#mceu_97 {
    display: none;
}

.ques-ans-section input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: 19px 0;
    border: 1px solid #F97E32;
}

.sec-title {
    text-align: center;
    margin: 35px 0;
    border-bottom: 2px solid #F97E32;
    color: #F97E32;
}

.new-query-form input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #F97E32;
    margin: 10px 0;
}

.carousel-option {
    display: flex;
    height: 40px;
    padding: 10px 0;
}

.carousel-option input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background: transparent;
    border: 1px solid #333;
}

.carousel-option span {
    margin-right: 10px;
}

.title-img-link input[type="text"],
.title-img-link input[type="link"] {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: 10px 0;
    border: 1px solid #F97E32;
}

.title-img-link {
    margin: 50px 0;
}

.mce-panel {
    border: 0 solid #ff999a;
}

/*
=========----------------------------------=========
            5.Post Campaign Page Css     
=========----------------------------------=========
*/

.post-ques input[type="text"] {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: 1px solid #F97E32;
}

.post-camp-input input,
.post-camp-input select {
    width: 100%;
    height: 40px;
    margin: 15px 0;
    border: 1px solid #F97E32;
}

.post-campaign-sub-title h4 {
    margin-top: 20px;
    font-size: 15px;
    color: #F97E32;
}

.post-file-input {
    margin-top: 22px;
}

.submit-btn button {
    width: 100%;
    height: 43px;
    line-height: 42px;
    font-weight: bold;
    background: #F97E32;
    border: 1px solid #F97E32;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    margin-top: 19px;
}

.submit-btn button:hover {
    background: #fff;
    color: #F97E32;
}

/*
=========----------------------------------=========
            6.Add Admin Area Css     
=========----------------------------------=========
*/

.log-form {
    margin-top: 80px;
}

.log-form.text-center input[type="name"],
.log-form input[type="email"],
.log-form input[type="password"] {
    width: 100%;
    height: 40px;
    margin: 15px 0;
    border: 1px solid #F97E32;
}

.log-form.text-center i.fa {
    width: 40px;
    height: 40px;
    margin: 15px 0;
    line-height: 40px;
    text-align: center;
    background: #F97E32;
    color: #fff;
}

/*
=========----------------------------------=========
            7 Help and Inquery Css     
=========----------------------------------=========
*/

.help-title.text-center h4 {
    color: #F97E32;
    margin-top: 115px;
    margin-bottom: 30px;
}

.hrlp-contact input {
    width: 100%;
    height: 40px;
    margin: 15px 0;
    padding: 0 10px;
    border: 1px solid #F97E32;
}

.hrlp-contact textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #F97E32;
    resize: none;
}

/*
=========----------------------------------=========
            10.Footer Area Css     
=========----------------------------------=========
*/

.copy-right {
    margin-top: 70px;
}

.copy-info {
    border-top: 1px solid #F97E32;
    padding: 20px 0;
}

/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

.top {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 40px;
    display: none;
    background: #fff;
    border: 2px solid #FA4C1C;
    z-index: 99;
    color: #FA4C1C;
    -webkit-transition: .3s;
    transition: .3s;
}

.top i.fa {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.top:after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #FA4C1C;
    content: "";
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .2s;
    transition: .2s;
}

.top:hover {
    text-decoration: none;
    color: #fff;
}

.top:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 100%;
}

.top {
    display: none;
    bottom: 70px;
}


/*
=========----------------------------------=========
            Pre Loader Area Css     
=========----------------------------------=========
*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FA4C1C;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/****
*   Pre Loader Custom CSS
*   =============================
*/

.pre-loader-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-folding-cube {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}


/*
 -------------------=======================----------------
|                       BLOG PAGE CSS                      |
 -------------------=======================----------------
*/
